body
  background: $white
  line-height: 1.4
  font-size: $fz
  min-width: 320px
  font-family: 'gilroy', Arial, sans-serif
  color: $c-text
  +no-scroll
  +sm
    font-size: $fz-sm-px

.icon
  display: inline-block
  fill: currentColor
  font-size: inherit

.lazy
  &.is-loaded:not(.no-fade-in)
    animation: fadeIn 1s

.out
  padding-top: $header-height

.container
  padding-left: 50px
  padding-right: 50px
  +xl
    padding-left: 30px
    padding-right: 30px
  +lg
    padding-left: 15px
    padding-right: 15px
  &--sm
    padding-left: 95px
    padding-right: 95px
    +xl
      padding-left: 30px + 45px
      padding-right: 30px + 45px
  &--xs
    margin-left: auto
    margin-right: auto
    padding-left: 15px !important
    padding-right: 15px !important
    max-width: 940px

.logo
  display: inline-block
  font-size: 0
  +lg
    width: 70px

.close
  +icon-close(20, 1, currentColor)
  position: absolute
  z-index: 1
  top: 15px
  right: 15px

.contact-man
  text-align: center
  &__text
    margin-bottom: 15px
    max-width: 620px
    margin-left: auto
    margin-right: auto

.accent
  color: $accent
    