---
title: about
page: about
hero: {
  slider: [
    { video: true },
    { bg: 'bg-hero-about-01.jpg' },
    { bg: 'bg-hero-about-01.jpg' },
    { bg: 'bg-hero-about-01.jpg' }
  ],  
  title: 'Family business',
  titleMod: '',
  subttl: '<small>with beautifully handcrafted details 
for a touch of luxury...</small>',
  
}

popup: {
  video: true
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_hero.html" %}
  {# {% include "partials/sections/_s-history.html" %} #}
  {% include "partials/sections/_s-descr.html" %}
  {% include "partials/sections/_s-video.html" %}
   
  {# {% include "partials/sections/_s-eco.html" %} #}
  {% include "partials/sections/_s-production.html" %}
  {% include "partials/sections/_s-guarantee.html" %}
  {% include "partials/sections/_s-comfort.html" %}
  {% include "partials/sections/_s-design.html" %}
  {# {% include "partials/sections/_s-advantages.html" %} #}
  {# {% include "partials/sections/_s-products-links.html" %} #}
{% endblock %}