---
title: about
page: about
hero: {
  slider: [
    { mod: 'hero-slide--center', video: true },
    { mod: 'hero-slide--right', bg: 'bg-hero-about-01.jpg' },
    { mod: '', bg: 'bg-hero-about-01.jpg' },
    { mod: '', bg: 'bg-hero-about-01.jpg' }
  ],  
  title: '<small>The first <br>
                step towards</small>
                a quality life',
  titleMod: '',
  subttl: 'Production as a family business with a lot of years of experience. We produce towel warmers with love 
              and passion. And we know what quality looks like.',
  
}

popup: {
  video: true
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_hero.html" %}
  {# {% include "partials/sections/_s-history.html" %} #}
  {% include "partials/sections/_s-descr.html" %}
  {% include "partials/sections/_s-video.html" %}
   
  {# {% include "partials/sections/_s-eco.html" %} #}
  {% include "partials/sections/_s-production.html" %}
  {% include "partials/sections/_s-guarantee.html" %}
  {% include "partials/sections/_s-comfort.html" %}
  {% include "partials/sections/_s-design.html" %}
  {# {% include "partials/sections/_s-advantages.html" %} #}
  {# {% include "partials/sections/_s-products-links.html" %} #}
{% endblock %}