---
title: electric
page: electric
hero: {
  bg: 'bg-hero-water.jpg',
  title: 'Water rails',
  breadcrumbs: {
    list: [
      { link: 'Home' },
      { item: '/' },
      { link: 'water', modLink: 'is-active' }
    ]
  }
}
products: [
  { mod: 'product--sm' },
  { mod: '' },
  { mod: '' },
  { mod: '' },
  { mod: 'product--sm' },
  { content: true, mod: 'product--lg', wrapMod: 'products__item-lg' },
  { mod: '' },
  { mod: '' },
  { mod: '', wrapMod: 'products__item-lg' },
  { mod: '', wrapMod: 'products__item-lg' }
]
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_hero.html" %}
  {% include "partials/sections/_s-products.html" %}
  {% include "partials/sections/_s-article.html" %}
{% endblock %}
