---
title: home
page: home

hero: {
  slider: [
    { mod: 'hero-slide--center', bg: 'bg-hero-home-01.jpg' },
    { mod: 'hero-slide--right', bg: 'bg-hero-home-01.jpg' },
    { mod: '', bg: 'bg-hero-home-01.jpg' },
    { mod: '', bg: 'bg-hero-home-01.jpg' }
  ],  
  title: '<small>The first <br>
                step towards</small>
                a quality life',
  subttl: 'Production as a family business with a lot of years of experience. We produce towel warmers with love 
              and passion. And we know what quality looks like.',
  btn: {
    title: 'view products'
  }
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_hero.html" %}
  {% include "partials/sections/_s-products-links.html" %}
{% endblock %}
