{% if header.burger.hidden %}
{%set navMod = 'nav--content' %}
{% endif %}

<!-- begin header -->
<header class="header{% if header.mod %} {{ header.mod }}{% else %} js-header{% endif %}">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo">
        <a href="/" class="logo">
          <img class="js-lazy" alt="" src="" data-src="./img/{% if header.logo %}{{ header.logo }}{% else %}logo-white.png{% endif %}"/>
        </a>
      </div>

      <div class="header__nav{% if not header.burger.hidden %} js-menu{% endif %}">
        {% if not header.burger.hidden %}
        {# <button class="header__close close js-menu-close"></button> #}
        {% endif %}
        <div class="header__nav-in">
          {{ mixins.list(
            name = 'nav',
            modifications = { wrap: navMod, item: '', link: '' },
            list = [
              { item: '<button class="js-popup-open" data-popup-target="category">Production</button>' },
              { link: 'why mario?', modLink: 'is-active' },
              { link: 'Technical' },
              { link: 'get Contact' }
            ]
          ) }}
        </div>
      </div>

      {% if not header.burger.hidden %}
      <div class="header__burger">
        <button class="burger js-burger"><span></span></button>
      </div>
      {% endif %}
    </div>
  </div>
</header>
<!-- end header -->