<!-- begin hero -->
<section class="hero hero--item">
  <div class="hero__word">Phoneix</div>

  <div class="container">
    <div class="hero__inner">
      <div class="hero__left">
        <div class="hero__content">
          <div class="hero__upttl">
            <div class="price price--lg"><small>from</small>120<small class="accent">£</small></div>
          </div>

          <div class="hero__title">
            <h1 class="title title--lg">Phoneix</h1>
          </div>

          <div class="hero__text text--md text--light">Towel rail Phoenix. This premium water heated towel rail is ideal choice for a product withmaximum heat output.</div>
        </div>
      </div>

      <div class="hero__right">      
        <div class="hero__img">
          <img class="js-lazy" alt="" src="" data-src="./img/hero/item-presentation.png"/>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->