<div class="item-descr__modal item-descr-modal js-popup" data-popup="{{ i.modal }}">
  <div class="item-descr-modal__inner">         

    <button class="item-descr-modal__close close close--sm js-popup-close"></button>

    <div class="item-descr-modal__content">
      <div class="item-descr-modal__title">
        <h3 class="title title--h3">50 years warranty</h3>
      </div>
      <div class="item-descr-modal__text text--light text--gray-100">50 years warranty - created to emphasize your individuality and creativity. Made of stainless steel water heated towel warmer Marsel from Mario Company - the choice of those who think, act, and do not conform to stereotypes, the choice of real personalities.</div>
    </div>

    <div class="item-descr-modal__btn">
      {{ mixins.btn(
        title = 'ok',
        mod = 'btn--transp-gray js-popup-close',
        href = false
      ) }}
    </div>
  </div>
</div>