<!-- begin item-card-meta-block -->
<button
  class="item-card-meta-block js-popup-open"
  data-popup-modal="true"
  data-popup-target="{{ i.modal }}"
>
  <span class="item-card-meta-block__img">
    {% if i.icon %}
    {{ mixins.icon(i.icon) }}
    {% else %}            
    <img class="js-lazy" alt="" src="" data-src="./img/steel.jpg"/>
    {% endif %}
  </span>

  <span class="item-card-meta-block__title">{{ i.title | safe }}</span>

  <span class="item-card-meta-block__icon"></span>
</button>
<!-- end item-card-meta-block -->