<!-- begin product -->
<div class="product{% if i.mod %} {{ i.mod }}{% endif %}">
  {% if not i.content %}
  <a href="#" class="product__link">
  {% endif %}
    {% if not i.content %}
    <span class="product__title-block">
      <span class="product__title">Euro snake</span>
      <span class="product__price">from <span class="accent">112£</span></span>
      <span class="product__descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, perspiciatis.</span>
    </span>
    {% endif %}

    {% if i.content %}
    <span class="product__content">
      <span class="product__title-lg">
        <span class="title title--lg"><small>Select</small> your  towel rail</span>
      </span>
      <span class="product__text text--md">Water heated towel rail Hera combines quality, reliability and design. 
        In the wide range of towel warmers made by Company Mario,
      this model is rightfully occupies a leading position. </span>
      <span class="product__btn">
        {{ mixins.btn(
          title = 'view products',
          mod = ''
        ) }}
      </span>
    </span>
    {% endif %}

    <span class="product__img">
      <span class="product__img-img js-lazy" data-background-image="./img/products/01.jpg"></span>

      {% if not i.content %}
      <img class="js-lazy" alt="" src="" data-src="./img/hero/item-presentation.png"/>
      {% endif %}
    </span>
  {% if not i.content %}
  </a>
  {% endif %}
  
{#   {% if not i.content and not i.bottomHidden %}
  <button
    class="product__bottom js-popup-open"
    data-popup-target="item-card"
    data-url="./partials/popup-item-card.html"
    >{{ mixins.icon('copy') }}Product sizes (8)</button>
  {% endif %} #}
</div>
<!-- end product -->