<!-- begin popup -->
<div class="popup js-popup" data-popup="contact">
  <div class="popup__inner">
    <button class="popup__close close js-popup-close"></button>

    <div class="popup__form">
      <!-- begin form -->
      <div class="form">
        <form>
          <div class="form__title">
            <h2 class="title">Contact us</h2>
          </div>

          <div class="form__field">
            {{ mixins.input(
              name = 'input',
              mod = '',
              type = 'text',
              label = { first: '<label class="input__label">full name</label>' },
              value = '',
              fieldClass = 'js-focused-input'
            ) }}
          </div>

          <div class="form__field">
            <!-- begin tel-input -->
            <div class="tel-input js-tel-input">
              <div class="tel-input__select">
                {{ mixins.input(
                  name = 'select',
                  mod = '',
                  type = '',
                  placeholder = '',
                  value = '',
                  fieldClass = 'js-select js-focused-input',
                  label = { first: '<label class="input__label">code</label>' },
                  fieldAttributes = { 'data-type': 'tel-code' },
                  options = [
                    { value: 'placeholder', option: ''}
                  ]
                ) }}
              </div>

              <div class="tel-input__input">
                {{ mixins.input(
                  name = 'input',
                  mod = '',
                  type = 'tel',
                  placeholder = '',
                  value = '',
                  fieldClass = 'js-focused-input',
                  label = { first: '<label class="input__label">phone number</label>'}
                ) }}
              </div>
            </div>
            <!-- end tel-input -->
          </div>

          <div class="form__field">
            {{ mixins.input(
              name = 'input',
              mod = '',
              type = 'email',
              label = { first: '<label class="input__label">email</label>' },
              value = '',
              fieldClass = 'js-focused-input'
            ) }}
          </div>

          <div class="form__field">
            {{ mixins.input(
              name = 'textarea',
              mod = '',
              type = '',
              label = { first: '<label class="input__label">Enter your message</label>' },
              value = '',
              fieldClass = 'js-focused-input js-textarea'
            ) }}
          </div>

          <div class="form__field">
            {{ mixins.btn(
              title = 'send',
              mod = 'btn--full',
              href = false
            ) }}
          </div>
        </form>
      </div>
      <!-- end form -->
    </div>
  </div>
</div>
<!-- end popup -->