<!-- begin popup -->
<div class="popup popup--full popup--dark popup--half js-popup" data-popup="category">
  <div class="popup__inner">
    <button class="popup__close close js-popup-close"></button>

    <div class="popup__left">
      <a href="#" class="popup__link">
        <span class="popup__link-img">
          <img class="js-lazy" alt="" src="" data-src="./img/popup-water.png"/>
        </span>

        <span class="popup__link-title">Water</span>
      </a>
    </div>

    <div class="popup__right">
      <a href="#" class="popup__link">
        <span class="popup__link-img">
          <img class="js-lazy" alt="" src="" data-src="./img/popup-electr.png"/>
        </span>        

        <span class="popup__link-title">Electric</span>
      </a>
    </div>
  </div>
</div>
<!-- end popup -->