<!-- begin section -->
<section
  class="section section--full section--bg section--center section--white js-lazy"
  data-background-image="./img/bg-404.jpg">
  <div class="container">
    <div class="section__block">
      <!-- begin section-block -->
      <div class="section-block">
        <div class="section-block__title">
          <h1 class="title title--lg">404</h1>
        </div>

        <div class="section-block__subttl">Sorry! This page is not available.</div>

        <div class="section-block__btn">
          {{ mixins.btn(
            title = 'Back to home',
            mod = '',
            href = '/'
          ) }}
        </div>
      </div>
      <!-- end section-block -->
      
    </div>
  </div>
</section>
<!-- end section -->