<!-- begin section -->
<section class="section section--lg">
  <div class="container">
    <!-- begin text-block -->
    <div class="text-block text-block--lg">
      <div class="text-block__left">
        {# <div class="text-block__img js-lazy" data-background-image="./img/about/14331.jpg"></div> #}
        <img class="js-lazy" alt="" src="" data-src="./img/about/14331.jpg"/>
      </div>

      <div class="text-block__right">
        <div class="text-block__content">
          <div class="text-block__title">
            <h2 class="title title--lg">
              <small>The main</small>
              advantages
            </h2>
          </div>

          <div class="text-block__text text--gray-100">A large selection of attractive models for a bath made of square and round 
stainless steel tube with a modern design, proven by demand and time;</div>
        </div>
      </div>
    </div>
    <!-- end text-block -->
  </div>
</section>
<!-- end section -->