<!-- begin section -->
<section class="section">
  <div class="container">
    <!-- begin contact-man -->
    <div class="contact-man">
      <div class="contact-man__text">We hope  this information will help us to build mutually beneficial cooperation in the future. 
      In  case you’ve got more questions please contact with our manager!</div>

      <div class="contact-man__btn">
        {{ mixins.btn(
          title = 'contact our manager',
          mod = '',
          href = false,
          attributes = {}
        ) }}
      </div>
    </div>
    <!-- end contact-man -->
  </div>
</section>
<!-- end section -->