<!-- begin section -->
<section class="section pb-0">
  <div class="container">
    <div class="section__title">
      <h2 class="title title--lg">
        <small>New insights</small>
        <p>Intellectual management.</p> 
        <p>Absolute comfort</p>
      </h2>
    </div>

    <!-- begin comfort -->
    <div class="comfort">
      <div class="comfort__img">
        <img class="js-lazy" alt="" src="" data-src="./img/about/comfort.jpg"/>
      </div>

      <div class="comfort__content">
        {% for i in range(0, 3) %}
        <div
          class="comfort__text text--light text--md js-anim-el"
          data-anim-delay="{{ (i + 1) }}00"
          data-anim-name="fadeInLeftSmooth">
          Production as a family business 
          with a lot of years of experience. 
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- end comfort -->
  </div>
</section>
<!-- end section -->