<!-- begin section -->
<section class="section pb-0">
  <div class="container">
    <!-- begin guarantee -->
    <div class="guarantee">
      <div class="guarantee__left">
        <div class="guarantee__img">
          <img class="js-lazy" alt="" src="" data-src="./img/about/50.png"/>
        </div>
      </div>

      <div class="guarantee__right">
        <div class="guarantee__content">
          <!-- begin section-block -->
          <div class="section-block section-block--md">
            <div class="section-block__title">
              <h2 class="title title--lg">years <br> guarantee</h2>
            </div>

            <div class="section-block__text text--light text--md">Production as a family business with a lot of years 
              of experience. We produce towel warmers with love and passion. And we know what quality looks like.
            </div>
          </div>
          <!-- end section-block -->
        </div>
      </div>
    </div>
    <!-- end guarantee -->
  </div>
</section>
<!-- end section -->