<!-- begin section -->
<section class="section">
  <div class="container">
    <!-- begin history -->
    <div class="history">
      <div class="history__text text--md text--light">Production as a family business with a lot of years 
        of experience. We produce towel warmers with love 
        and passion. And we know what quality looks like.
      </div>

      <div class="history__imgs">
               
        <div class="history__img js-lazy" data-background-image="./img/about/bib_92651.jpg"></div>
        <div class="history__img js-lazy" data-background-image="./img/about/756664.jpg"></div> 
        <div class="history__img js-lazy" data-background-image="./img/about/01.jpg"></div>
      </div>
    </div>
    <!-- end history -->
  </div>
</section>
<!-- end section -->