{%set
itemCard = {
  meta: [
    {
      title: '304 grade 
stainless steel'
    },
    {
      icon: 'water',
      title: 'Hydronic'
    },
    {
      icon: 'dashboard',
      title: 'Max. working
pressure 12 PA'
    },
    {
      icon: 'hot-thermometer',
      title: 'Heating 
element'
    },
    {
      icon: 'shield',
      title: '50 years 
warranty'
    }
  ]
}
%}

<!-- begin section -->
<section class="section">
  <div class="container">
    {% include "partials/_item-card.html" %}
  </div>
</section>
<!-- end section -->