<!-- begin section -->
<section class="">
  <!-- begin item-pres-block -->
  <div class="item-pres-block">
    <div class="item-pres-block__inner">
      <div class="item-pres-block__left">
        <!-- begin slider -->
        <div class="slider__wrap slider--full__wrap">
          <div class="swiper-container js-slider" data-slider="full">
            <div class="swiper-wrapper slider slider--full">
              {% for i in range(0, 4) %}
              <div class="swiper-slide slide js-lazy" data-background-image="./img/about/bg-design.jpg"></div>
              {% endfor %}
            </div>
          </div>

          <div class="slider__pagination js-slider-pagination"></div>
          <div class="slider__controls">
            <button class="slider__prev prev js-slider-prev"></button>
            <button class="slider__next next js-slider-next"></button>
          </div>
        </div>
        <!-- end slider -->
      </div>

      <div class="item-pres-block__right">
        <div class="item-pres-block__content">
          <!-- begin item-pres -->
          <div class="item-pres">
            <div class="item-pres__top">
              <h2 class="title title--md-s">Phoneix</h2>

              <div class="item-pres__btns">              
                {{ mixins.btn(
                  title = mixins.icon('email') + '<span>contact us</span>',
                  mod = 'btn--comb js-popup-open',
                  href = false,
                  attributes = { 'data-popup-target': 'contact' },
                  isPlain = true
                ) }}

                {{ mixins.btn(
                  title = mixins.icon('arrow') + '<span>download pdf</span>',
                  mod = 'btn--comb',
                  attributes = { download: '' },
                  isPlain = true
                ) }}
              </div>

            </div>

            <div class="item-pres__text text--light text--md">Towel rail Phoenix. This premium water heated towel rail is ideal choice for a product withmaximum heat output. This premium water heated towel rail is ideal choice for a product withmaximum heat output. This premium water heated towel rail is ideal choice.</div>

            <div class="item-pres__table">
              {% include "partials/_item-table.html" %}
            </div>
          </div>
          <!-- end item-pres -->
        </div>
      </div>
    </div>
  </div>
  <!-- end item-pres-block -->
</section>
<!-- end section -->