{%set
products = [
  { mod: 'product--sm' },
  { mod: '' },
  { mod: '' },
  { mod: '' },
  { mod: 'product--sm' },
  { content: true, mod: 'product--lg', wrapMod: 'products__item-lg' },
  { mod: '' },
  { mod: '' },
  { mod: 'product--sm' },
  { mod: '' },
  { content: true, mod: 'product--lg', wrapMod: 'products__item-lg' },
  { mod: 'product--sm' },
  { mod: 'product--sm' },
  { mod: '' },
  { mod: '' },
  { mod: '' },
  { mod: 'product--sm' }
]
%}

<!-- begin section -->
<section class="section section--sm">
  <div class="container">
    <!-- begin products -->
    <div class="products js-grid">
      {% for i in products %}
      <div class="products__item js-grid-item{% if i.wrapMod %} {{ i.wrapMod}}{% endif %}">
        {% include "partials/_product.html" %}
      </div>
      {% endfor %}
    </div>
    <!-- end products -->
  </div>
</section>
<!-- end section -->