{%set
products = [
  { mod: 'product--sm' },
  { mod: '' },
  { mod: '' },
  { mod: '' },
  { mod: 'product--sm' },
  { content: true, mod: 'product--lg', wrapMod: 'products__item-lg' },
  { mod: '' },
  { mod: '' },
  { mod: 'product--sm' },
  { mod: '' },
  { content: true, mod: 'product--lg', wrapMod: 'products__item-lg' },
  { mod: 'product--sm' },
  { mod: 'product--sm' },
  { mod: '' },
  { mod: '' },
  { mod: '' },
  { mod: 'product--sm' }
]
%}

<!-- begin section -->
<section class="section section--sm">
  <div class="container">
    <!-- begin products -->
    <div class="products js-grid">
      {% for i in products %}
      <div class="products__item js-grid-item{% if i.wrapMod %} {{ i.wrapMod}}{% endif %}">
        <!-- begin product -->
        <a href="#" class="product{% if i.mod %} {{ i.mod }}{% endif %}">
          {% if not i.content %}
          <span class="product__title-block">
            <span class="product__title">Euro snake</span>
            <span class="product__price">from <span class="accent">112£</span></span>
          </span>
          {% endif %}

          {% if i.content %}
          <span class="product__content">
            <span class="product__title-lg">
              <span class="title title--semi">Select your  towel rail</span>
            </span>
            <span class="product__text">Water heated towel rail Hera combines quality, reliability and design. 
In the wide range of towel warmers made by Company Mario,
this model is rightfully occupies a leading position. </span>
          </span>
          {% endif %}

          <span class="product__img">
            <span class="product__img-img js-lazy" data-background-image="./img/products/01.jpg"></span>

            {% if not i.content %}            
            <img class="js-lazy" alt="" src="" data-src="./img/products/01.png"/>
            {% endif %}
          </span>

          {% if not i.content %}
          <span class="product__bottom">{{ mixins.icon('copy') }}Product sizes (8)</span>
          {% endif %}
        </a>
        <!-- end product -->
      </div>
      {% endfor %}
    </div>
    <!-- end products -->
  </div>
</section>
<!-- end section -->