<!-- begin section -->
<section class="section section--bg section--overlay js-lazy" data-background-image="./img/about/bg-video.jpg">
  <div class="container">
    <!-- begin section-video -->
    <div class="section-video">
      <div class="section-video__title">
        <h2 class="title title--lg">
          Mario.
          <small>History</small>
        </h2>
      </div>

      <div class="section-video__content">
        <div class="section-video__text text--light text--md">
          <p>On November 21, 1998, the history of the famous Ukrainian brand Mario, the leading manufacturer of stainless steel towel warmers and design radiators, dates back to today.</p>
          <p>Starting a family business, a father with two sons created the first stainless steel heated towel rail. The product became the basis of the family business and became the start of the development of the enterprise.</p>
        </div>

        <div class="section-video__btn">
          <!-- begin video-btn -->
          <div class="video-btn">
            <button class="video-btn__btn js-popup-open" data-popup-target="video"></button>
            
            
            <div class="video-btn__title">
              <div class="title">
                <small>Watch a video</small>
                about our company
              </div>
            </div>
          </div>
          <!-- end video-btn -->
        </div>
      </div>
    </div>
    <!-- end section-video -->

    
  </div>
</section>
<!-- end section -->

