{% macro fancyTitle(title, id) %}
<!-- begin fancy-title -->
<div class="fancy-title fancy-title--{{ id }}">
  <div class="fancy-title__inner-mob">
    <div class="fancy-title__text">{{ title.top }}</div>
    <div class="fancy-title__text">{{ title.bottom }}</div>
  </div>
  <div class="fancy-title__inner-desc">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 285 80" preserveAspectRatio="xMidYMid slice">
      <defs>
        <mask id="{{ id }}-mask" x="0" y="0" width="100%" height="100%" >
          <rect x="0" y="0" width="100%" height="100%" />
          <text x="50%"  y="50%" text-anchor="middle">{{ title.top }}</text>
          <text x="50%"  y="65%" text-anchor="middle">{{ title.bottom}}</text>
        </mask>
      </defs>
      <rect x="0" y="0" width="100%" height="100%" />
    </svg>

    <video class="js-lazy" src="" data-src="./video/welding.mp4" muted="" autoplay="" loop="" playsinline=""></video>
  </div>
</div>
<!-- end fancy-title -->
{% endmacro %}