.footer
  color: $gray-light
  &__inner
    +flex(space-between, center)
    padding-top: 25px
    padding-bottom: 25px
    +sm
      display: block
      text-align: center
  &__left
    +flex(flex-start, center)
    +md
      justify-content: center
      margin-bottom: 15px
  &__right
    text-align: right
    +md
      text-align: center
  &__copy
    text-transform: uppercase
    margin-right: 15px