.footer
  color: $gray-light
  &__inner
    +flex(space-between, center)
    padding-top: 25px
    padding-bottom: 25px
  &__left
    +flex(flex-start, center)
  &__right
    text-align: right
  &__copy
    text-transform: uppercase
    margin-right: 15px