.nav
  
  li
    display: inline-block
    +notfirst
      margin-left: 35px
      +md
        margin-left: 0
    +md
      display: block
      padding-top: 10px
      padding-bottom: 10px

    
  a, button
    text-transform: uppercase
    +tr(color .3s)
    &.is-active
      color: $white-dark
    +hover
      color: $white-dark
    .header.is-white &      
      &.is-active
        color: $gray
      +hover
        color: $gray
  &--content
    li
      +md
        display: inline-block
        margin-left: 15px
        margin-right: 15px
  &--footer
    li
      display: block
      +notfirst
        margin-left: 0
      +notlast
        margin-bottom: 10px
      +md
        padding-top: 0
        padding-bottom: 0