.section
  padding-top: 65px
  padding-bottom: 65px
  +xl
    padding-top: 50px
    padding-bottom: 50px
  +lg
    padding-top: 40px
    padding-bottom: 40px
  +md
    padding-top: 30px
    padding-bottom: 30px
  +sm
    padding-top: 20px
    padding-bottom: 20px
  &__title
    text-align: center
    margin-bottom: 65px
    +xl
      margin-bottom: 50px
    +lg
      margin-bottom: 40px
    +md
      margin-bottom: 30px
    +sm
      margin-bottom: 20px
    .title
      margin-bottom: 30px
      +sm
        margin-bottom: 20px
  &__img
    margin-bottom: 30px
    font-size: 0
    img
      display: inline-block

  &--gray-lightest
    background-color: $gray-lightest
  &--sm
    padding-top: 25px !important
    padding-bottom: 25px !important
  &--lg
    padding-top: 155px
    +xl
      padding-top: 80px
  &--full
    padding: 0
    height: 100%
    +xl
      padding: 0
    +lg
      padding: 0
    +md
      height: auto
      padding-top: 20%
      padding-bottom: 20%
    +sm
      padding-top: 30%
      padding-bottom: 30%
  &--full-children
    padding: 0 !important
    +md
      height: 100%
  &--white
    color: $white
  &--center
    text-align: center
    +flex(center, center)
  &--bg
    +cover
  &--overlay
    position: relative
    .container
      z-index: 1
      position: relative
    +before
      +coverdiv
      z-index: 0
      background-image: linear-gradient(to right, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%)
  &--black
    background-color: $black
    color: $white


.section-block
  $this: &
  &__title
    margin-bottom: 15px
    +sm
      margin-bottom: 10px
  &__subttl
    font-size: em(18)
    margin-bottom: 25px
    +md
      margin-bottom: 15px
  &--md
    #{$this}__title
      margin-bottom: 25px
      +md
        margin-bottom: 15px
    #{$this}__text
      max-width: 430px



.section-video
  color: $white
  &__text
    width: 50%
    padding-right: 15px
    +sm
      width: 100%
      margin-bottom: 15px
    p
      max-width: 425px
      +notlast
        margin-bottom: 25px
        +md
          margin-bottom: 15px
  &__title
    margin-bottom: 25px
    +md
      margin-bottom: 15px
  &__content
    +flex(flex-start, normal, row, wrap)
  &__btn
    width: 50%
    +flex(center, normal, column)
    +sm
      width: 100%